body {
	margin:0;
	background-color:#000000;
}
header {
	background-color: #4e0101;
	color: #fff;
	padding: 30px;
}
.h1e{
	margin: auto;
}
.search form {
    margin-left:300px;
	width: 400px;
}
.search input[type="text"] {
	padding: 10px;
	border:none;
	border-radius: 5px;
	flex-grow:1;
}
main {
	padding: 20px;
}
section ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap:wrap;
}
section li {
	flex-basis: calc(33.33% - 20px);
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #000000;
	padding:20px;
	box-sizing: border-box;
	border-radius: 55px 55px 55px 55px;
	cursor: pointer;
}
section li :hover{
	background-color: #4b4b4b;
}
section li img {
	height: 300px;
	width: 100%;
	border-radius: 33px 33px 33px 33px;

}
section li h3 {
	margin: 0;
	font-size: 30px;
	color: white;
}
section li p {
	margin: 10px 0;
	font-size: 16px;
	line-height: 1.5;
	color: white;
}




